.nav-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 .nav-bar-menu {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   .nav-bar-menu--item {
    list-style: none;
    padding: 0.5rem;
     &:last-of-type {
      margin-right: 0;
     }
   }
 }
 .nav-bar-logo {
   width: 200px;
 }
}