<nav id="nav-bar" class="nav-bar px-md">
  <a href="/" class="nav-bar-logo" aria-label="Homepage">
    <img src="{{site.data.settings.branding.nav_logo_image}}" alt="{{site.data.settings.branding.site_title}}" class="responsive-img">
  </a>
  <ul class="nav-bar-menu">
    <li class="nav-bar-menu--item mx-2">
      <a href="#">Menu</a>
    </li>
    <li class="nav-bar-menu--item mx-2">
      <a href="#">Menu</a>
    </li>
    <li class="nav-bar-menu--item mx-2">
      <a href="#">Menu</a>
    </li>
    <li class="nav-bar-menu--item mx-2">
      <a href="#">Menu</a>
    </li>
  </ul>
  <button id="burger" class="burger">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>